.userInformation{
    position: sticky;
    top: 0;
}
.userDetails{
    display: flex;
    align-items: center;
    
}

.detailed-information{
    margin-left: 5px;
    font-size: 12px;
    font-weight: bold;
}

.body-details{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 12px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.39);
    color: black;
    margin: 5px 8px;
}

.btn-div{
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: gray;
    color: whitesmoke;
    font-weight: bold;
    font-size: 13px;
    margin: 5px 8px;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.brk-btn{
    width: 30px;
    height: 30px;
    border-radius: 10px;
    font-weight: bold;
}
.brk-btn:focus{
    background-color: rgba(0, 0, 255, 0.411);
}
.excercise-details{
    margin-left: 8px;
    color: black;
    font-weight: bold;
    font-size: 14px;
}
.total-time{
    border: 2px solid black;
    border-radius: 5px;
    background-color: gray;
    color: whitesmoke;
    font-weight: bold;
    font-size: 13px;
    margin: 5px 8px;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.space-right{
    margin-right: 2px;
}

.toast-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    
}
.activity-btn{
    padding: 5px 20px;
    font-weight: bolder;
    background-color:lightslategray;
    border-radius: 5px;
    color: white;
}
.activity-btn:hover{
    background-color: black;
}
.activity-btn:focus{
    background-color: black;
}

